@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.trans-item {
  font-family: 'Lato',sans-serif !important;
  width:100% ;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  border-radius: 20px;
  height: auto;
  padding:10px;
}

.trans-meta {
  list-style-type: none;
}
.to-streamed{
  width:100%;
}
.to{
  margin-left:15px;
  margin-top:15px;
  float: left;
  width:50%;
}
.amt-main{
  width:100%;
}
.amt-per-interval{
font-weight: 400 ;
float: right;
width:50%;
text-align: right;
}
.streamed{
  font-weight: 400 ;
  float: right;
  width:40%;
  text-align: right;
  margin-right:15px;
  margin-top:15px;
}
.amt-sub{
  float: left;
  width:50%;
}
.meter{
  height: 40px;
  margin-top:30px;
  margin-left: 50px;
  margin-right: 30px;
  width: 80%;
  align-items: center;
}
meter::-webkit-meter-bar{
  background: none;
  box-shadow: 0 5px 5px -5px #333 inset;
  background-color: whitesmoke;

}
meter::-webkit-meter-optimum-value{
  background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
}
.span{
  letter-spacing: 0.7px;
  color: rgb(83, 83, 83);
}
.total{

  float: right;
  margin-right:150px;
}
.initial{
  margin-left:50px;
}
.rc-main{
  width: 100%;
  height: 70px;

}
.my-streamed{
  width: 100%;
  
}
.my{
  margin-left:15px;
  margin-top:15px;
  float: left;
  width:50%;
}

.streamed1{
  font-weight: 400 ;
  float: right;
  width:40%;
  text-align: right;
  margin-right:15px;
  margin-top:15px;
}
.span1{
  letter-spacing: 0.7px;
  color: rgb(83, 83, 83);
}
.empty1{
  font-weight: 400 ;
  float: right;
  width:40%;
  text-align: right;
  margin-right:15px;
  margin-top:15px;
}
.empty2{
  margin-left:15px;
  margin-top:15px;
  float: left;
  width:50%;
}
.bigempty{
  width: 100%;
}